@page "/{blogURL}"

@inject IBlogCache _blogCache

@if (BlogDto is null)
{
    <p>Blog not found</p>
    return;
}

<DynamicComponent Type="@BlogDto!.BlogContentComponentType" />

@code {
    [Parameter]
    public string? BlogURL { get; set; }

    private BlogDto? BlogDto { get; set; } = default!;

    protected override Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(BlogURL))
            BlogDto = _blogCache.GetBlog(BlogURL!);

        return base.OnInitializedAsync();
    }
}
