@page "/"
@inject IBlogCache _blogCache

@{
    if (_blogs.Count() <= 0)
    {
        <p>No blogs found.</p>
    }
    else
    {
        foreach (var blog in _blogs)
        {
            <BlogCard Blog="@blog" />
        }
    }

}

@code {
    private IEnumerable<BlogDto> _blogs { get; set; } = Enumerable.Empty<BlogDto>();

    protected override Task OnInitializedAsync()
    {
        _blogs = _blogCache.GetAllBlogs();

        return base.OnInitializedAsync();
    }
}

