.blog-card ::deep {
    padding: 1em;
    border-radius: 6px;
    margin: 1em;
    cursor: pointer;
    box-shadow: 1px 1px 10px #888;

    h3 {
    }

    p {
    }

    .tag-container {
        border-top: 1px solid;
        display: flex;
    }

    .tag {
        margin: 0.5em;
        background-color: gray;
        border-radius: 6px;
        padding: 2px;
    }

    .tag:hover {
        background-color: #eaeaea;
    }
}

.blog-card :hover,
.blog-card :focus {
    background-color: #a3a3a3;
}