<NavLink class="@($"nav-link nav-item {_visiblity}")" href="@Link">
    <span class="@Icon" aria-hidden="true"></span> @Title
</NavLink>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public bool Visible { get; set; } = true;

    private string _visiblity => Visible ? "is-visible" : string.Empty;
}