.navbar ::deep {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 10px;
}
@media (max-width: 768px) {
  .navbar ::deep.collapsed {
    padding: 10px 0;
    height: 60px;
    overflow: hidden;
  }
}
.navbar ::deep .nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .navbar ::deep .nav {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }
  .navbar ::deep .nav.collapsed {
    display: none;
  }
}
.navbar ::deep .nav .nav-item {
  margin-left: 10px;
}
.navbar ::deep .nav .nav-item a {
  text-decoration: none;
  color: #000;
}
.navbar ::deep .nav .nav-item a:hover {
  text-decoration: underline;
}
