@inject IBlogCache _blogCache

<header class="navbar">
    <nav class="nav @NavMenuCssClass">
        <NavMenuItem Visible="true" Title="Home" Icon="oi oi-home" />
    
        @foreach (var blog in _blogs)
        {
            <NavMenuItem Visible="@(_isNavMenuCollapsed is false)" Title="@blog.Title" Link="@blog.URL" />
        }
    
        <a href="javascript:void(0);" class="icon" @onclick="ToggleNavMenu">
          <i class="oi oi-menu"></i>
        </a>
    </nav>
</header>

@code {
    private bool _isNavMenuCollapsed = true;
    private string? NavMenuCssClass => _isNavMenuCollapsed ? "responsive " : null;

    /// <summary>
    /// 
    /// </summary>
    private void ToggleNavMenu()
        => _isNavMenuCollapsed = !_isNavMenuCollapsed;

    private IEnumerable<BlogDto> _blogs { get; set; } = Enumerable.Empty<BlogDto>();

    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    protected override Task OnInitializedAsync()
    {
        _blogs = _blogCache.GetAllBlogs();

        return base.OnInitializedAsync();
    }
}
